@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
body {
  width: 100vw;
  margin: 0;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

.popup {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fffffe;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.815);
}
.popup .set {
  width: 600px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-align: center;
}
.popup .set button {
  padding: 1rem 2rem;
  border: none;
  color: white;
  background: none;
  font-weight: 200px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  border: 2px solid #9f0fef;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.4s cubic-bezier(0.79, 0.15, 0, 1.43);
}
.popup .set button:hover {
  background: #9f0fef;
  transform: scale(1.1);
}

nav {
  overflow: hidden;
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 65px;
  height: 100%;
  background: linear-gradient(to bottom, #281533, #1e1424, #2d2233);
  z-index: 3;
  box-shadow: 0 0 60px 30px rgba(0, 0, 0, 0.5);
  transition: 0.4s ease-in;
}
nav .icons {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
nav .icons a {
  text-decoration: none;
  color: white;
}
nav .icon1 {
  cursor: pointer;
  margin-top: 10px;
  margin-left: calc(100% - 57px);
  transition: 0.3s ease-in;
  width: 40px;
}
nav .icon1 div {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: 0.3s ease-in;
}
nav .icon {
  display: flex;
  align-items: center;
}
nav .icon img {
  width: 27px;
  margin-inline: 1.3rem;
}

.snap {
  width: 200px;
}
.snap .icon1 {
  margin-left: calc(100% - 40px);
}

.card {
  background: linear-gradient(to bottom, #281533, #1e1424, #2d2233);
  color: white;
  position: relative;
  box-shadow: 0 0 70px 10px rgba(139, 137, 137, 0.151);
  margin: auto;
  display: flex;
  height: 200px;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  align-items: center;
  border-radius: 0.5rem;
  font-family: sans-serif;
  overflow: hidden;
}

.circle {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(40%, -40%);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: aliceblue;
  transition: 0.7s cubic-bezier(0.59, 0.31, 0.28, 1.33);
  opacity: 0.7;
}

.card h2 {
  z-index: 1;
  letter-spacing: 3px;
  transition: 0.7s ease;
  transition-delay: 0.4s;
}

span {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
  z-index: 1;
  transition: 0.7s ease;
  margin: 0.4rem;
}

#first {
  transition-delay: 0.2s;
}

.card:hover .circle {
  width: 500px;
  height: 500px;
  transform: translate(25%, -88%);
  opacity: 1;
}

.card:hover h2 {
  transform: translateY(-20px);
  transition-delay: 0s;
  color: black;
}

.card:hover span {
  transform: translateY(-30px);
}

.card:hover #first {
  transform: translateY(-30px);
  transition-delay: 0.2s;
}

.card:hover span {
  transform: translateY(-30px);
  transition-delay: 0.4s;
}

.container {
  width: 100%;
  height: 100%;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overflow-x: scroll;
  display: flex;
}
.container section {
  position: relative;
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #2d2233;
  width: calc(100vw - 60px);
  height: 100vh;
  scroll-margin-left: 60px;
  scroll-snap-align: start;
}
.container section:nth-child(1) {
  margin-left: 100px;
}
.container section h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 7em;
}
.container section .left, .container section .right {
  position: absolute;
  height: 100%;
  width: 8rem;
  transition: 0.1s ease-in;
  opacity: 0;
}
.container section .left:hover, .container section .right:hover {
  opacity: 0.4;
}

.container::-webkit-scrollbar {
  display: none;
}

.right {
  background: linear-gradient(to left, black, #2d2233);
  right: 0;
}

.left {
  background: linear-gradient(to right, black, #2d2233);
  left: 0;
}

.snap .line1 {
  transform: rotate(-45deg) translate(-11px, 3px);
}

.snap .line2 {
  opacity: 0;
}

.snap .line3 {
  transform: rotate(45deg) translate(-8px, 0px);
}

/* restricted flex containers */
.about {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.about .intro {
  width: 70%;
  padding: 1rem;
  text-align: center;
}
.about .intro .name {
  font-family: "Monoton", cursive;
  word-spacing: 10px;
  font-size: 3.5em;
}
.about .intro .carrera {
  word-spacing: 2px;
  line-height: 23px;
  font-size: 1.4em;
  padding: 1rem;
}
.about .picture {
  padding: 2rem;
  word-spacing: 2px;
  line-height: 23px;
  font-size: 1.1em;
}
.about .picture img {
  width: 300px;
  height: auto;
  border-radius: 0.4rem;
  box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.5);
}

.bio {
  width: 70%;
  font-size: 1.5em;
}
.bio h3 {
  font-size: 4em;
}

.details {
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  transition: 0.3s ease;
}
.details .incont {
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: 100%;
}
.details .incont .image {
  opacity: 0;
  transform: translateY(50px);
  transition: 0.6s ease;
}
.details .incont .image img {
  width: 240px;
  height: auto;
  border-radius: 0.6rem;
}
.details .incont .side-info {
  width: 50%;
  text-align: center;
}
.details .incont .side-info .p-name {
  font-size: 34px;
  letter-spacing: 4px;
  transform: translateY(50px);
  transition: 0.6s ease;
  transition-delay: 0.2s;
  opacity: 0;
}
.details .incont .side-info p {
  font-size: 20px;
  line-height: 25px;
  margin-top: 4rem;
  transform: translateY(50px);
  transition: 0.6s ease;
  transition-delay: 0.4s;
  opacity: 0;
}

.audioWaves {
  cursor: pointer;
  position: absolute;
  bottom: 50px;
  left: 90px;
  z-index: 1;
  transition: 0.5s ease;
}

.loading {
  width: 100px;
  height: 30px;
  position: relative;
}

.loading .x {
  position: absolute;
  box-shadow: 0 0 0vw 0vw yellow;
  animation: loading 2s ease-in-out infinite, flash1 6s ease infinite;
  width: 5px;
  background-color: #4e4355;
  height: 5px;
  transition: 0.8s ease-in;
}

@keyframes loading {
  0%, 100% {
    top: 0px;
  }
  25% {
    top: 15px;
  }
  50% {
    top: 0px;
  }
  75% {
    top: 15px;
  }
}
@keyframes flash1 {
  0%, 100% {
    box-shadow: 0 0 0vw 0vw yellow;
  }
  5%, 30% {
    opacity: 1;
    box-shadow: 0 0 2vw 0.2vw yellow;
  }
}
.loading .x:nth-child(1) {
  left: 0px;
  animation-delay: 0s;
}

.loading .x:nth-child(2) {
  left: 5px;
  animation-delay: 0.1s;
}

.loading .x:nth-child(3) {
  left: 10px;
  animation-delay: 0.2s;
}

.loading .x:nth-child(4) {
  left: 15px;
  animation-delay: 0.3s;
}

.loading .x:nth-child(5) {
  left: 20px;
  animation-delay: 0.4s;
}

.loading .x:nth-child(6) {
  left: 25px;
  animation-delay: 0.5s;
}

.loading .x:nth-child(7) {
  left: 30px;
  animation-delay: 0.6s;
}

.loading .x:nth-child(8) {
  left: 35px;
  animation-delay: 0.7s;
}

.loading .x:nth-child(9) {
  left: 40px;
  animation-delay: 0.8s;
}

.loading .x:nth-child(10) {
  left: 45px;
  animation-delay: 0.9s;
}

.loading .x:nth-child(11) {
  left: 50px;
  animation-delay: 1s;
}

.loading .x:nth-child(12) {
  left: 55px;
  animation-delay: 1.1s;
}

.loading .x:nth-child(13) {
  left: 60px;
  animation-delay: 1.2s;
}

.loading .x:nth-child(14) {
  left: 65px;
  animation-delay: 1.3s;
}

.home {
  width: 100%;
}
.home .project {
  padding: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home .project .p-heading {
  width: 100%;
  max-width: 900px;
}
.home .project .p-heading h2 {
  margin-left: 2rem;
  font-size: 34px;
  letter-spacing: 3px;
}
.home .project .projects {
  display: grid;
  width: 100%;
  max-width: 900px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(2, minmax(250px, 1fr));
}
.home .project .projects a {
  text-decoration: none;
}
.home .project .projects a:hover {
  z-index: 1;
}
.home .project .projects .small-cont {
  margin: 0.4rem;
  color: #fffffe;
  letter-spacing: 2px;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: 0.2s ease;
}
.home .project .projects .small-cont:hover {
  transform: scale(1.2);
  box-shadow: 0 0 60px 30px rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  z-index: 4;
}
@keyframes fadeup {
  from {
    opacity: 0;
    transform: translateY(-90px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes fadedown {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(-90px);
  }
}

/*# sourceMappingURL=styled.css.map */
